/**
 * @file
 * Multilang widget.
 */

.multilang-use,
.multilang-back {
  margin-left: .5em !important;
}
.multilang-notice {
  margin-left: .5em !important;
  padding: 0 .5em !important;
  background-color: #aaf !important;
  color: #fff !important;
  font-weight: lighter !important;
}
#multilang-area{
  position: absolute;
  display: none;
}
#multilang-area th {
  /* must accept something like "en, br" */
  width: 3.5em;
}
#multilang-area td {
  background-color: #fff;
}
#multilang-area input {
  width: 100%;
}
#multilang-area input:focus {
  background-color: #cfc;
}
